.carousel-item img {
    height:350px;
    object-fit: cover;
}


.custom-card {
    object-fit: cover;
}

.custom-button {
    height: 60px;
    width: 60px;
    padding: 0;
    border-radius: 50px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1001;
}